/* reset */
html, body {
    font-family: 'Open Sans', sans-serif;
    color:#333333;
    background-color:#FCFCFC;
    text-align: left;
    cursor: default;
}
/* generic */
main {
    position: relative;
    display: block;
    margin:0;
    padding:0;
    border:0;
    height: auto;
    width: 100%;
    z-index: 1;
}
nav {
    z-index: 1000;
}
section {
    position: relative;
    display: block;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 100;
}
p {
    position: relative;
    display: block;
    color:#666666;

    font-size: 18px;
    line-height: 36px;
}
h3 {
    font-size: 48px;
    line-height: 108px;
}
h4 {
    font-size: 36px;
    line-height: 36px;
}
h5 {
    font-size: 24px;
    line-height: 36px;
}
h6 {
    font-size: 18px;
    line-height: 36px;
}
/* main */
#home {
    text-align: center;
    float: none;
    clear: both;
    background-image: url(../img/img-1.jpg);
    background-color:#FCFCFC;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
#intro {
    float: none;
    clear: both;
    background-color: #F6F6F6;
}
#strengh {
    float: none;
    clear: both;
    background-color: #D63C37;
}
.float-left {
    position: relative;
    display: block;
    float: left;
    text-align: left;
    min-height: 100vh;
}
.float-right {
    position: relative;
    display: block;
    float: right;
    text-align: right;
}
#liberty {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    right: 0;
}
.page-center {
    margin-top: 50vh;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.container-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
#home-title {
    margin: 0 0 18px 0;
}
#intro-title {
    margin: 0 0 25px 0;
}
#intro-list {
    position: relative;
    display: block;
    list-style: none;
}
#intro-list > li {
    margin: 0 0 18px 65px;
}
#intro-list > li:before {
    float: left;
    position: relative;
    margin-left: -65px;
    margin-top: 8px;
}
#intro-list > li:nth-child(2):before {
    content: url(../img/etoile.png);
}
#intro-list > li:nth-child(3):before {
    content: url(../img/coeur.png);
}
#intro-list > li:nth-child(4):before {
    content: url(../img/lune.png);
}
#intro-list > li > * {
    margin: 0;
}
#intro-list > li:first-of-type {
    list-style: none;
}
#strengh-title {
    text-align: right;
    margin-bottom: 40px;
}
#strengh-list {
    list-style: none;
    text-align: right;
}
#strengh-list > li {
    float: left;
    margin-bottom: 40px;
}
#strengh-list > li > div {
    float: left;
}
#strengh-list > li > div > img {
    margin-bottom: 10px;
}
#strengh-list > li > div > h5 {
    color:#FAF3F3;
}
#strengh-list > li > div > p {
    color:#333333;
}
.red-color {
    color:#D63C37;
}
.text-underline {
    text-decoration: underline;
}
.text-bold {
    font-weight: bold;
}
.white-color {
    color:#FAF3F3;
}
/* menu */
#menu-media {
    position: fixed;
    display: block;
    right: 22px;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 1000;
}
#menu-media > nav {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 2vw;
}
#menu-media > nav > ul {
    position: relative;
    display: block;
    list-style: none;
    margin: 5px 8px;
    padding: 0;
    border: 0;
}
#menu-media > nav > ul > li {
    margin: 18px 0;
}
.nav-menu {
    position: relative;
    display: block;
    margin: 50px 0 28px 0;
    padding: 0;
    border: 0;
}
.nav-menu > img {
    padding: 4px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.nav-menu > img:hover {
    cursor: pointer;
}
.link-img {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 100%;
}
.link-img > img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid transparent;
}
.link-img > img:hover {
    border: 1px solid #CCC;
}
#menu-container {
    position: fixed;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    height: 15%;
    width: 100%;
    z-index: 10000;
    background-color: #FFF;
    bottom: 0;
}
#menu-container > div > div {
    margin: auto;
}
#menu-container > div > div > nav {
    margin-top: 4%;
}
#menu-container > div > div > nav > a {
    color: #333;
}
#menu-container > div > div > nav > a:hover {
    color: #666;
}