body {
    font-family: 'Open Sans', sans-serif;
    color:#333333;
    background-color:#F6F6F6;
    text-align: left;
}
p {
    color:#666666;
    text-align: left;
    font-size: 18px;
    line-height: 36px;
    padding:0 25px;
}
h3 {
    font-size: 48px;
    line-height: 108px;
}
h4 {
    font-size: 36px;
    line-height: 36px;
}
h5 {
    font-size: 24px;
    line-height: 36px;
    padding:0 25px;
}
h6 {
    font-size: 18px;
    line-height: 36px;
    padding:0 25px;
}
section:first-of-type {
    background:#F6F6F6;
    background-image: url(assets/img/img-1.jpg);
    background-size: cover;
    background-repeat: none;
}
section:first-of-type h3 {
    text-align: center;
}
section:first-of-type p {
    text-align: center;
}
section:last-of-type {
    background:#D63C37;
    background-color:#D63C37;
}
section:last-of-type p {
    color:#333333;
    text-align: left;
}
section:last-of-type h5 {
    color:#FAF3F3;
    text-align: right;
}
.redColor {
    color:#D63C37;
}
.textUnderline {
    text-decoration: underline;
}
.textBold {
    font-weight: bold;
}